* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'open dyslexic';
    src: url('fonts/opendyslexic-regular-webfont.woff2') format('woff2'),
        url('fonts/opendyslexic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
      
@font-face {
    font-family: 'comic sans';
    src: url('fonts/comicsans-webfont.woff2') format('woff2'),
        url('fonts/comicsans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
      
@font-face {
    font-family: 'Book Antiqua';
    src: url('fonts/book-antiqua-webfont.woff2') format('woff2'),
        url('fonts/book-antiqua-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

    a {
        color: #32a1f7;
    }

    


.back {
    width: fit-content;

    background-color: white;
    margin-bottom: 30px;

    border: 2px solid;
    font-size: 1.5rem;
    border-radius: 3px; 

    cursor: pointer;
    padding: 10px;
  

    position: absolute;
    bottom: 0;



    cursor: pointer;


}

.back a {
    color: black;
}

.back:hover {
background-color: #cfd1ed;
box-shadow: 0 0 15px white;

}

body {
/* background-color:#cfd1ed;
color:#ab5b0b; */
background-color: #033838;
color: #f1e7be;
margin: 0;
      
font-family: "Alamari", sans-serif;
font-size: 1.2rem;
line-height: 1.5;
}

body.comic-sans {
    font-family: 'comic sans'
    }
      
body.open-dyslexic {
    font-family: 'open dyslexic';
    }   
      
body.serif {
    font-family: "Book Antiqua", serif;
    }

.color-change-container {
    width: 100%;
    padding: 20px 0;

    border-top: 2px solid;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    }

    .color-change-1 button {
        background-color: white;
        color: black;
    
        padding: 10px;
        border-radius: 5px;
        border: 1.5px solid;
    
        cursor: pointer;
      }

      .color-change-2 button {
        padding: 10px;
        border-radius: 3px;
        border: 1px solid white;
        cursor: pointer;
      
        background-color: #181817;
        color: #e1eade;
      }
      
    .color-change-2 button:hover {
        border: 2px solid white;
        outline: 1px solid black;
        box-shadow: 0 0 20px #181817;
      }
      
    .color-change-1 button:hover {
        border: 2px solid black;
        outline: 1px solid white;
        box-shadow: 0 0 20px black;
      }

.close-button {
    width: fit-content;
    height: 50px;
    background-color: white;

    border: 2px solid;
    padding: 0 15px;
    font-size: 1rem;

    position: absolute;
    top: 15px;
    right: 15px;
 
    cursor: pointer;
    display: none; /* Initially hidden */
    }
    
.close-button:hover {
    cursor: pointer;
    transform: rotate(20deg);
    }


.customize {
    display: none;
    flex-direction: column;
    align-items: center; /* Center align items */
    /* border-bottom: 2px solid; */
    border-top: 2px solid;
}

.customize-icon-dark-mode {
    display: none;
}

.customize.open {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.demo-container {
    display: flex;
   flex-direction: column;
   gap: 10px;
   padding: 10px;
}


.font-selector {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }


h1 {
    color: black;
    background-color: white;
    text-align: center;
    padding-top: 3px;
    border: 2px solid;

    border-radius: 5px;
    width: 100%;
    margin: 0;
    position: relative;
    right: 5px;
}


h2 {
    text-align: center;
    border: 2px solid;
    width: 100%;
    padding: 10px;
    position: relative;
    right: 5px;
    
}

.image-center {
    text-align: center;
    margin: 0 auto;
}

.instructions {
    max-width: 800px;
}


.left-section {

    width: 20vw;
    height: 100vh;
 
    position: fixed;
    top:0;
    left: 0;

    z-index: 1;
}

.main-container {
    display: flex;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu-button {
    width: 20vw;
    background-color: transparent;
    height: 50px;
    border: none;
  
    font-size: 1.5rem;
    padding: 10px;

    cursor: pointer;
    padding: 10px;
    text-align: left; /* Align text to left */
}

.menu-button:hover {
    font-size: 1.6rem;
    border-left: 20px solid;
    }

.menu-items {
    width: 100%;
    padding-top: 15px;
    padding-left: 20px;
    margin: 0;
    
    text-align: left;
    display: none; /* Initially hidden */

    position: absolute;
    top: 50px; /* Push the items below the top menu */  
    }

.menu-items a {
    color: black;
}

.menu-items li {
    margin-left: 20px;
    padding: 5px;
    list-style:disc;
    }

.menu-items li:hover {
    border: 2px solid;
    border-right: 20px solid;
    width: fit-content;
    padding-right: 15px;
    border-radius: 3px;
    }

.middle-section {
    width: 60vw;

    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  

    border-left: 2px solid;
   

    display: flex;
    flex-direction: column;

    position: relative;
    left: 20vw;

}

.middle-section p {
    max-width: 700px;
    font-size: 1.2rem;
    text-align: left;
    position: relative;
    left: 5px;
    }


.middle-section-practice-photos {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.middle-section li {
    max-width: 700px;
}

.mobile-tablet {
    background-color: white;
    color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 50000000;
}

.mobile-tablet p {
    padding: 15px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

.next-page {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
}

.next-page-button {
    background-color: white;

    width: fit-content;
    height: fit-content;

    margin-bottom: 30px;

    border: 2px solid;
    font-size: 1.5rem;
    border-radius: 3px; 

    position: relative;
    bottom: 0;

    cursor: pointer;
    padding: 10px;
        }

        .next-page-button a {
            color: black;
        }

.next-page-button:hover {
    background-color:#cfd1ed;
    box-shadow: 0 0 15px white;
}

.open .close-button {
    display: block; /* Show close button when menu is opened */
}

.open .customize {
    display: flex;
    height: fit-content; /* Adjust height to fit content */
}

.open .menu-items {
    display: block; /* Show menu items when menu is opened */
}

p {
    margin-bottom: 10px;
}

.photo-container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-wrap: wrap;

}


.practice-photo:hover {
    transform: rotate(3deg);
    cursor: pointer;
    box-shadow: 0 0 15px white;
    /* border: 2px solid; */
    
}

.practice-photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.practice-photo-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: fit-content;
}

.right-section {
    width: 20vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    border-left: 2px solid;
    /* z-index: 1; */
}

.select-font {
    color: #181817;
    font-size: 1rem;
  }
  
.select-font-button {
    padding: 5px;
    background-color: white;
    border-radius: 3px;
    border: 1.5px solid;
  }

  .select-font-button:hover {
    background-color:black;
    color:white;
  }

  .title {
    background-color:white;
    position: absolute;
    bottom: 0;
    right: 0;

    width: 100%;
}

.title h1 {

    width: 100%;
    position: relative;
    left: .1px;
    border-left: none;
    border-right: none;
}

.title p {
    position: relative;
    bottom: 2px;
    left: 17px;
}

.top-menu {
    background-color: white;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    transition: width 0.3s ease;
}




/* COLOR CHANGE 1 (WHITE BACKGROUND BLACK TEXT)  */

body.color-change-1 {
    background-color: white;
    color: black;
}

.menu-button.color-change-1 {
    border: none;
}

a.color-change-1 {
    color: blue;
}

h1.color-change-1 {
    outline: none;
}


/* COLOR CHANGE 2 (BLACK BACKGROUND WHITE TEXT)  */

.back.color-change-2 {
    background-color: black;
}

.back.color-change-2:hover {
    background-color: black;
    box-shadow: 0 0 30px white;

}

body.color-change-2 {
    background-color: black;
    color: white;
}

h1.color-change-2 {
    background-color: black;
    color: white;
    outline: none;
}

a.color-change-2 {
    color: #addf9d;
}

.customize-icon-dark-mode.color-change-2 {
    display: block;
}

.customize-icon-light-mode.color-change-2 {
    display: none;
}


.top-menu.color-change-2 {
    background-color: black;
    color: white;
}

label.color-change-2 {
    color: white;
}

.light-mode-button.color-change-2 {
    background-color: white;
    color: black;
}

.light-mode-button:hover.color-change-2{
    border: 2px solid black;
    outline: 1px solid white;
    box-shadow: 0 0 30px white;
}

.dark-mode-button.color-change-2:hover {
    border: 2px solid black;
    outline: 1px solid white;
    box-shadow: 0 0 30px white;
}

.next-page-button:hover.color-change-2 {
    background-color: black;
    box-shadow: 0 0 30px white;

}

.customize.color-change-2 {
    border-top: 2px solid white;
}

.color-change-container.color-change-2 {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}



/* ----------------- PRACTICE PAGES -----------------  */



#container {
    position: relative;
    width: 80vw;
    max-width: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 10px; */
    margin-bottom: 25px; 
}
#photo {
    width: 100%; /* Adjust photo width as needed */
    height: auto; /* Maintain aspect ratio */
}

#input-field {
    width: 100%; 
    height: 85px; 
    margin-bottom: 10px; 
    text-wrap: wrap;
}
#submit-button {
    width: 80px; /* Adjust width of submit button */
    height: 40px; /* Adjust height of submit button */
}

#submit-button:hover {
   box-shadow: 0 0 10px white;
   cursor: pointer;
}
.submission {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Add space between submissions */
}
.delete-button {
    margin-left: 10px; /* Add space between delete button and submission text */
    padding: 5px; /* Add padding to delete button */
    cursor: pointer;
}

.delete-button:hover {
    transform: rotate(15deg);
}

#output {
    width: 750px;
    
    overflow-y: auto; /* Add vertical scrollbar if content exceeds height */
    /* padding: 10px; */
}
#char-counter-container {
    padding: 5px 3px 1px 10px;
    border: 1px solid;
    height: 85px;

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#char-label {
    font-size: 14px;

    margin-right: 5px;
}
#char-counter {
    font-size: 14px;
    position: relative;
    top: 2px;


}

.input-char-counter-container {
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 100px;
    gap: 10px;
}


/* ______________________________________________________________________ */

@media only screen and (max-width: 320px) {
    .mobile-tablet {
        display: block;
    }

    .left-section {
        display: none;
    }

    .middle-section {
        display: none;
    }

    .right-section {
        display: none;
    }
      }
    
      @media only screen and (max-width: 480px) {
        .mobile-tablet {
            display: block;
        }

        .left-section {
            display: none;
        }

        .middle-section {
            display: none;
        }

        .right-section {
            display: none;
        }

          }
    
          @media only screen and (max-width: 768px) {
            .mobile-tablet {
                display: block;
            }

            .left-section {
                display: none;
            }

            .middle-section {
                display: none;
            }

            .right-section {
                display: none;
            }

              }